doctype html
html
  head
    title NU Hacks tilde club
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css')

    
  body
    != yield
    
